[Unit]
Description=Syncing Ipod (/dev/%I)
After=systemd-udevd.service

[Service]
Type=simple
NotifyAccess=main
ExecStart=/usr/local/bin/sync_ipod /dev/%I
